[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB5
dir_pin: PB4
enable_pin: !PB6
microsteps: 16
# after calibration
rotation_distance: 32.83
#rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
# after PID_CALIBRATE HEATER=extruder TARGET=200
pid_Kp:27.246
pid_Ki:1.552
pid_Kd:119.543
min_temp: 0
max_temp: 260
pressure_advance: 0.069

[tmc2209 extruder]
uart_pin: PB3
run_current: 0.600
diag_pin:

[extruder_stepper auxilary_feeder]
extruder: extruder
# The extruder this stepper is synchronized to. If this is set to an
#  empty string then the stepper will not be synchronized to an
#  extruder. This parameter must be provided.
step_pin: PD2
dir_pin: PD1
enable_pin: !PD3
microsteps: 16
rotation_distance: 32.83
# See the "stepper" section for the definition of the above
# parameters.

[tmc2209 extruder_stepper auxilary_feeder]
uart_pin: PD0
run_current: 0.600
diag_pin:
