[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB6
microsteps: 16
# after calibration
rotation_distance: 32.83
#rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
# after PID_CALIBRATE HEATER=extruder TARGET=200
pid_kp: 26.686
pid_ki: 1.534
pid_kd: 116.086
min_temp: 0
max_temp: 260

[tmc2209 extruder]
uart_pin: PB3
run_current: 0.600
diag_pin:
